
.night-tab {
    width: 50%;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/mums-night/assets/images/wall-background.png);
    background-size: cover;
    z-index: -1;
  }

  .banner {
    width: 100%; 
    overflow: hidden; /
  }
  
  .banner img {
    width: 100%; 
    height: auto; /* Maintains aspect ratio */
    display: block; /* Remove the default inline style */
  }

  .banner {
    background-color: black;
    color: pink;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* rgba(0, 0, 0, 0.7) for black with 70% transparency */
  };