
.night-tab {
    width: 50%;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/wall-background.png);
    background-size: cover;
    z-index: -1;
  }

  .banner {
    width: 100%;
    overflow: hidden; 
  }
  
  .banner img {
    width: 100%;
    height: 20vh;
    display: block;
  }
  
  .banner {
    background-color: black;
    color: pink;
    text-align: center;
    padding: 10px;
    background-color: transparent !important;
   
  }

  .days,
.timerContainer {
  color: rgb(236, 75, 196);
}

#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(236, 75, 196);
  margin: auto;
  max-width: 300px;
}

.days,
.hours,
.minutes,
.seconds {
  margin-right: 10px; /* Adjust the margin as needed */
}

.question {
   color: rgb(197, 218, 39);
   font-weight: bold;
   font-size: larger;
}

.night-tab {
  color: rgb(236, 75, 196) !important;
  border: 1px solid yellow !important;
  border: 1px solid black; /* Add a black border */
}

input:valid {
  background: yellow;
  /* border: black; */
  /* border: 1px solid yellow;
} */
}

input:valid:focus {
  border-color: yellow; 
  color: yellow;
}

input::before:focus {
  border-color: yellow; 
  color: yellow;
}

input:not(:focus) {
  background-color: yellow; 
  color: black; 
}


input:not(:focus)::placeholder {
  color: yellow; /* Set the color of the placeholder text in idle state */
}


/* Style when the input is focused */
input:focus {
  border-color: red; /* Set the border color when focused */
  outline: none; /* Remove the default focus outline */
  /* Add any additional styles for focused state */
}

.night-tab.active {
  color: rgb(236, 75, 196);
  background-color: pink;

  border: 1px solid yellow !important;
}


.night-tab {
  color: rgb(236, 75, 196) !important;
  border: 1px solid yellow !important;
 
  box-sizing: border-box;
}

.night-tab.active {
  color: rgb(236, 75, 196) !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: 1px solid yellow !important;

  box-sizing: border-box;
}

#nightInForm #cocktailName:focus,
#nightInForm #ingredient:focus {
  border-color: yellow;
  outline: none;
}

#nightInForm #cocktailName::placeholder,
#nightInForm #ingredient::placeholder {
  color: rgb(236, 75, 196);
  font-weight: lighter;
  opacity: 0.7;
}



#search {
  margin-top: 10px;
}

.nav-tabs {
  display: flex;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.night-tab {
  width: 100%;
}

.tab-content {
  width: 100%;
}

.intro {
  color: rgb(236, 75, 196);
  padding-top: 15px;
}

#surprise {
  margin-bottom: 15px;
  /* color: rgb(236, 75, 196) !important; */
  color: yellow !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: 1px solid rgb(236, 75, 196);
}

#surprise-card-section {
  display: flex;
  align-items: center;
}

#nightInForm input,
#nightOut input {
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  color: white; 
}

#nightInForm input::placeholder,
#nightOut input::placeholder {
   color: rgb(236, 75, 196);
   font-weight: lighter;
  opacity: 0.7; 
}

/* .btn.btn-primary {
  color: yellow !important;
  background-color: black;
  color: rgb(236, 75, 196);
  border: rgb(236, 75, 196) !important;

} */

#citySearchButton{
  margin-bottom: 12px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: rgb(236, 75, 196);
  border: 1px solid yellow;
  margin-bottom: 10px;
}

.saved-cocktail-search-button {
  background-color: black;
  color: rgb(236, 75, 196);
  border: none !important;
}

.form-control {
  border: 1px solid rgb(236, 75, 196);
}

#search-save {
  color: yellow !important;
   background-color: rgba(0, 0, 0, 0.5) !important;
   margin-left: 5px;
  margin-right: 5px;
  border-color:  rgb(236, 75, 196) !important;
} 

.saved-cocktail-search-name-button {
background-color: black;
color: rgb(236, 75, 196);
}

.btn.btn-primary {
  color: yellow !important;
  background-color: black;
  color: rgb(236, 75, 196);
  border: 1px solid rgb(236, 75, 196) !important;

}

.text-body-secondary, .p {
  color: rgb(236, 75, 196) ;
}

#nightInForm #cocktailName:valid,
#nightInForm #ingredient:valid {
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  border: 1px solid rgb(236, 75, 196);
}

#nightInForm #cocktailName:not(:focus):not(:valid),
#nightInForm #ingredient:not(:focus):not(:valid) {
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  border: 1px solid rgb(236, 75, 196);
}

#nightInForm #cocktailName::placeholder,
#nightInForm #ingredient::placeholder {
  color: rgb(236, 75, 196);
  font-weight: lighter;
  opacity: 0.7;
}

.display {
  width: 80%;
  max-width: 400px; /* Adjust the maximum width as needed */
  height: auto;
  margin: 10px auto; /* Add margin as needed */
}
